<launch>
    <rosparam file="$(find stimulus_signal_publisher)/config/controller.yaml" command="load"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
          controllers/joint_state_controller
          controllers/gimbal_calibration_controller
          controllers/joint_position_controller
          "/>
</launch>
